################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameBox/Attributes/AllowedExtensionsAttribute.cs
/.vs/GameBox-MVC/v17/.wsuo
/GameBox/obj/Debug/net8.0/staticwebassets/msbuild.GameBox.Microsoft.AspNetCore.StaticWebAssets.props
