################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameBox/Attributes/AllowedExtensionsAttribute.cs
/.vs/GameBox-MVC/v17/.wsuo
/GameBox/obj/Debug/net8.0/staticwebassets/msbuild.GameBox.Microsoft.AspNetCore.StaticWebAssets.props
/GameBox/.vs/GameBox/FileContentIndex/2e45fc27-0604-4545-bfc6-f6681695cd91.vsidx
/GameBox/.vs/GameBox/FileContentIndex/4c90b51b-6bcd-4a33-a11c-cda34a154f3b.vsidx
/GameBox/.vs/GameBox/FileContentIndex/651d2113-2822-40b8-8a49-0e06bb3ab017.vsidx
/GameBox/.vs/GameBox/FileContentIndex/75996dc1-a427-4fd5-8928-8ded8a37d2db.vsidx
/GameBox/.vs/GameBox/FileContentIndex/7e2d488e-0318-44b9-aab8-6989a469cbcc.vsidx
/GameBox/.vs/GameBox/FileContentIndex/e8e51f70-65c1-4e27-ae71-3662ac88a32e.vsidx
