################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameBox/Attributes/AllowedExtensionsAttribute.cs
